.config/autostart
.config/.config
.config/dconf
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/functions
.config/fish/themes
.config/github-copilot
.config/go
.config/ibus
.config/lazygit/state.yml
.config/libfm
.config/lxsession/dwm
.config/mimeapps.list
.config/nvim/lazy-lock.json
.config/pulse
.config/yazi/flavors
.config/yazi/package.toml
.config/yazi/plugins
